<nav class="navbar">
    <div class="container navbar-container">
        <a href="#" class="logo">Drop The Beat</a>
        <div class="menu-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="nav-links" id="nav-links">
            <li><a href="/home.html">Home</a></li>
            <li><a href="/html/aboutus.html">About</a></li>
            <li><a href="/html/login.html">Singin</a></li>
            <li><a href="/html/Register.html">Singup</a></li>
            <li><a href="/html/Profile.html">Profile</a></li>
            <li><a href="/html/logout.html">LogOut</a></li>
        </ul>
    </div>
</nav>